*{
    border: 0;
    margin: 0;
    padding: 0;
    outline: 0;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

.wrapper{
    max-width: 2000px;
    width: 100%;
    margin: 0 auto;
}

.center{
    max-width: 1470px;
    margin: 0 auto;
    width: 90%;
}

.burger{
    width: 60px;
    height: 60px;
    background-color: #ffffff;
    display: inline-block;
    border-radius: 50%;
    box-shadow: 0 0 15px 20px #f4f7fa;
    margin-top: 57px;
    transition: 0.5s ease-in-out;
}
.burger .line{
    width: 18px;
    height: 2px;
    background-color: #000000;
    display: block;
    margin: 0 auto;
}
.burger .line:nth-child(2){
    margin-top: 5px;
    margin-bottom: 5px;
}
.burger .line:first-child{
    margin-top: 22px;
}
.burger:hover{
    box-shadow: 0 0 15px 20px #bcdaee;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}
.logo{
    display: inline-block;
    width: 412px;
    height: 412px;
    border-radius: 50%;
    box-shadow: 0 0 25px 60px #f4f7fa;
    position: absolute;
    left: calc(50% - 206px);
    top: -206px;
    text-align: center;
}
header{
    position: relative;
    height: 266px;
}
.logo .name{
    margin-top: calc(206px + 57px);
    font-size: 48px;
    color: #43a9ff;
    font-weight: 600;
}
.logo .desc{
    font-size: 18px;
    font-weight: bold;
    color: #e6e7e9;
    text-transform: uppercase;
}
.search{
    position: absolute;
    right: 0;
    text-align: center;
    line-height: 60px;
    font-size: 21px;
}
.container2{
    background-image: url("./images/background_head.png");
    height: 1000px;
    background-repeat: no-repeat;
    background-position-x: 50%;
    text-align: center;
}
.container2 h2{
    padding-top: 115px;
    margin: 0 auto;
    width: 90%;
}
.container2 .btn{
    text-decoration: none;
    color: #43a9ff;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0 0 15px 20px #f4f7fa;
    margin-top: 60px;
    display: inline-block;
    padding: 21px 42px;
    border-radius: 30px;
    transition: 0.5s ease-in-out;
    background-color: #fff;
}
.container2 .btn:hover{
    box-shadow: 0 0 15px 20px #bcdaee;
    transition: 0.5s ease-in-out;
}
.container2 .btn:focus{
    box-shadow: 0 0 15px 20px #93bcd8;
}
.container2 p{
    font-size: 13px;
    margin-top: 20px;
    color: #d2d5d8;
}
.container{
    text-align: center;
}
.text p{
    font-size: 12px;
    color: #d2d5d8;
    margin-top: 20px;
    line-height: 25px;
}
.text h2{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 80px;
}
.cards .item{
    color: #43a9ff;
    display: inline-block;
    width: 20%;
    text-align: center;
    margin: 0 2.3%;
}
.cards .item i{
    font-size: 30px;
    margin-bottom: 40px;
}
.cards .item h3{
    font-size: 16px;
    color: black;
    margin-bottom: 20px;
}
.cards .item p{
    font-size: 12px;
    color: #d2d5d8;
    line-height: 20px;
}
.container .btn{
    text-decoration: none;
    color: #43a9ff;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0 0 15px 20px #f4f7fa;
    margin-top: 60px;
    margin-bottom: 105px;
    display: inline-block;
    padding: 21px 42px;
    border-radius: 30px;
    transition: 0.5s ease-in-out;
    background-color: #fff;

}
.container .btn:hover{
    box-shadow: 0 0 15px 20px #bcdaee;
    transition: 0.5s ease-in-out;
}
.container .btn:focus{
    box-shadow: 0 0 15px 20px #93bcd8;
}
.container3{
    position: relative;
    height: 1120px;
}
.container3 .left1, .container3 .right1{
    display: inline-block;
    width: 50%;
    height: 50%;
}
.container3 .left1 img{
    width: 100%;
    height: 100%;
}
.container3 .right1{
    background-color: #f7f8fb;
    text-align: left;
    position: absolute;
    right: 0;
}
.right1 h2{
    margin-top: 197px;
    margin-bottom: 55px;
    margin-left: 65px;
    font-size: 48px;
    font-weight: 600;
}
.right1 p{
    margin-left: 65px;
    font-size: 13px;
    color: #d2d5d8;
    line-height: 25px;
}
.container3 .left2, .container3 .right2{
    display: inline-block;
    width: 50%;
    height: 50%;
}
.container3 .right2{
    position: absolute;
    right: 0;
    bottom: 0;
}
.container3 .right2 img{
    width: 100%;
    height: 100%;
}
.container3 .left2{
    background-color: #f7f8fb;
    text-align: left;
    position: absolute;
    left: 0;
    bottom: 0;
}
.left2 h2{
    margin-top: 197px;
    margin-bottom: 55px;
    margin-left: 165px;
    font-size: 48px;
    font-weight: 600;
}
.left2 p{
    margin-left: 165px;
    font-size: 13px;
    color: #d2d5d8;
    line-height: 25px;
}
.container4{
    background-image: url(./images/Snowflake.png);
    background-repeat: no-repeat;
    background-position-x: 3%;
    background-position-y: -27%;
    background-size: 25%;
}
.application{
    position: relative;
}
.application .app, .application .content--right{
    display: inline-block;
    width: 50%;
}
.application .app img{
    max-width: 65%;
    margin-left: 26px;
}
.application .content--right{
    position: absolute;
    right: 0;
}
.application .content--right h2{
    margin-top: 205px;
    margin-bottom: 55px;
    font-size: 48px;
    color: #43a9ff;
    font-weight: 600;
}
.application .content--right p{
    font-size: 13px;
    color: #d2d5d8;
    line-height: 25px;
}
.container5{
    background-image: url(./images/Snowflake2.png);
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 200%;
    background-size: 23%;
}
.second--application{
    text-align: right;
}
.second--application .second--screen, .second--application .content--left{
    display: inline-block;
    width: 50%;
}
.second--application .second--screen img{
    max-width: 65%;
    margin-left: 217px;
}
.second--application .content--left{
    position: absolute;
    left: 16%;
    text-align: left;
}
.second--application .content--left h2{
    margin-top: 205px;
    margin-bottom: 55px;
    font-size: 48px;
    color: #43a9ff;
    font-weight: 600;
}
.second--application .content--left p{
    font-size: 13px;
    color: #d2d5d8;
    line-height: 25px;
}
.container6{
    height: 630px;
    background-image: url(./images/Photo.png);
    background-repeat: no-repeat;
    background-position-x: 30%;
}
.john--doe .ceo{
    margin-left: 60%;
    padding-top: 10px;
}
.ceo h2{
    margin-top: 188px;
    margin-bottom: 55px;
    font-size: 48px;
    color: #fe3254;
    font-weight: 600;
}
.ceo p{
    font-size: 13px;
    color: #d2d5d8;
    line-height: 25px;
}
.ceo h5{
    margin-top: 88px;
    margin-bottom: 10px;
}
footer{
    height: 1110px;
    width: 100%;
    background-image: url(./images/footer.png);
    background-repeat: no-repeat;
    -ms-background-position-x: 50%;
    background-position-x: 50%;
    text-align: center;
}
footer p{
    font-size: 13px;
    margin-top: 135px;
    color: #d2d5d8;
}
footer h2{
    margin-top: 20px;
    font-size: 48px;
    font-weight: 600;
}
footer .btn{
    text-decoration: none;
    color: #43a9ff;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0 0 15px 20px #f4f7fa;
    margin-top: 60px;
    display: inline-block;
    padding: 21px 42px;
    border-radius: 30px;
    transition: 0.5s ease-in-out;
    background-color: #fff;
}
footer .btn:hover{
    box-shadow: 0 0 15px 20px #bcdaee;
    transition: 0.5s ease-in-out;
}



@media(max-width: 1024px){
    .cards .item{
        width: 45%;
    }
    .container4{
        background-size: 45%;
    }
    .container5{
        background-size: 45%;
        background-position-x: 105%;
    }
    .application .app img{
        max-width: 100%;
    }
    .second--application .second--screen img{
        max-width: 100%;
        margin-left: 45px;
    }
    .second--application .content--left{
        left: 7%;
    }
    .left2 h2{
        margin-left: 100px;
    }
    .left2 p{
        margin-left: 100px;
    }
}

@media(max-width: 768px){
    .logo{
        width: 206px;
        height: 206px;
        top: -103px;
        left: calc(50% - 103px);
    }
    .logo .name{
        margin-top: 115px;
        font-size: 36px;
    }
    .logo .desc{
        font-size: 12px;
    }
    .burger{
        margin-top: 30px;
    }
    header{
        height: 100px;
    }
    .cards .item{
        margin-bottom: 20px;
    }
    .application .content--right{
        right: -20px;
    }
    .application .content--right h2{
        margin-top: 125px;
    }
    .second--application .content--left h2{
        margin-top: 125px;
    }
    .container3{
        height:800px;
    }
    .right1 h2{
        margin-top: 50px;
    }
    .left2 h2{
        margin-top: 50px;
        margin-left: 35px;
    }
    .left2 p{
        margin-left: 35px;
    }
    .container6{
        background-position-x: 33%;
    }
    .ceo h2{
        margin-top: 60px;
        font-size: 45px;
    }
    footer{
        background-position-x: 88%;
    }
}

@media(max-width: 600px){
    .cards .item{
        margin: 0 auto;
        width: 100%;
        padding-bottom: 25px;
    }
    .application .app, .application .content--right{
        width: 100%;
        text-align: center;
    }
    .application .content--right{
        position: static;

    }
    .application .content--right h2{
        padding-top: 0;
        padding-bottom: 40px;
        margin-top: 0;
    }
    .container4{
        background-position-y: -5%;
    }
    .burger{
        width: 40px;
        height: 40px;
    }
    .burger .line:first-child{
        margin-top: 12px;
    }
    .search{
        line-height: 40px;
    }
    .container2{
        background-size: cover;
        height: 100vh;
        min-height: 568px;
    }
    .container2 h2{
        padding-top: 55px;
    }
    .container3{
        height: 1130px;
    }
    .container3 .left1, .container3 .right1{
        width: 100%;
        height: 25%;
    }
    .container3 .left2, .container3 .right2{
        width: 100%;
        height: 25%;
        position: static;
        margin-bottom: 4px;
    }
    .container3 .right1{
        position: static;
        margin-bottom: 4px;
    }
    .container3 .left2 h2{
        margin-left: 63px;
    }
    .container3 .left2 p{
        margin-left: 63px;
    }
    .container5{
        background-position-x: 115%;
        background-position-y: 113%;
    }
    .second--application .second--screen, .second--application .content--left{
        width: 100%;
        text-align: center;
    }
    .second--application .content--left{
        position: static;

    }
    .second--application .content--left h2{
        margin-top: 30px;
    }
    .container6{
        background-position-x: 30%;
    }
    .ceo h2{
        margin-top: 60px;
        font-size: 30px;
    }
    .ceo p{
        font-size: 13px;
        margin-left: 55px;
    }
    .ceo h5{
        margin-top: 50px;
        margin-left: 55px;
    }
}

@media(max-width: 425px){
    .application .app{
        overflow: hidden;
    }
    .application .app img{
        max-width: 122%;
        margin-left: -11%;
    }
    .logo{
        width: 150px;
        height: 150px;
        top: -75px;
        left: calc(50% - 75px);
        box-shadow: 0 0 15px 30px #f4f7fa;
    }
    .logo .name{
        margin-top: 80px;
        font-size: 30px;
    }
    .logo .desc{
        font-size: 10px;
    }
    .burger{
        margin-top: 15px;
    }
    .container2 h2{
        padding-top: 25px;
    }
    .container2 .btn{
        margin-top: 30px;
    }
    .container3 .right1 h2{
        font-size: 30px;
        margin-left: 30px;
    }
    .container3 .right1 p{
        margin-left: 30px;
    }
    .container3 .left2 h2{
        font-size: 30px;
        margin-left: 30px;
    }
    .container3 .left2 p{
        margin-left: 30px;
    }
    .second--application .second--screen{
        overflow: hidden;
    }
    .second--application .second--screen img{
        max-width: 122%;
        margin-left: -40px;
    }
    .ceo h2{
        margin-top: 0px;
        font-size: 25px;
    }
    .ceo p{
        font-size: 10px;
        margin-left: 0px;
    }
    .ceo h5{
        margin-top: 17px;
        margin-left: 75px;
        margin-bottom: 10px;
    }
    .ceo h6{
        font-size: 10px;
        margin-left: 51px;
    }
    footer p{
        margin-top: 30px;
    }
    footer h2{
        font-size: 30px;
    }
    footer .btn{
        margin-top: 30px;
    }
}